@tailwind base;

@tailwind components;

@tailwind utilities;


header {
    background-image: url('http://via.placeholder.com/1920x650'); 
}

.bg-gray-opacity-70 {
    background-color:rgba(143,143,143, 0.70);
}

@media only screen and (min-width: 1024px) {
    .card {
        position: relative;
        height: 580px;
    }

    .card .btn-read-more {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top:500px;
    }
}

@media only screen and (max-width: 601px) {
    header {
        background-image: url('http://via.placeholder.com/600x600'); 
    }
}
