<template> 
  <div class="antialiased">
    <div class="w-full max-w-screen-lg p-10 sm:p-20 mx-auto">
        <div class="w-full border-t border-r border-l sm:border-none rounded shadow sm:shadow-sm flex relative flex-col sm:flex-row">
            <div v-for="(item, index) in items" :key="index" 
                :class="item.selected ? 'sm:border-b-2 sm:border-indigo-400' : ''"
                class="flex-1 border-b sm:border-gray-300 sm:text-center font-medium sm:pb-3 cursor-pointer hover:text-blue-400 text-blue-400 focus:outline-none">
                <div @click="select(index)"
                    class="border-b sm:border-none w-6 py-2 px-3 w-full flex items-center justify-between">                        
                    <div class="flex items-center">
                        <svg v-if="index == 0"
                            :class="item.selected ? 'text-indigo-600' : 'text-gray-500'"
                            class="h-6 w-6"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12.707 2.293a1 1 0 00-1.414 0l-9 9a1 1 0 101.414 1.414L4 12.414V21a1 1 0 001 1h5a1 1 0 001-1v-6h2v6a1 1 0 001 1h5a1 1 0 001-1v-8.586l.293.293a1 1 0 001.414-1.414l-9-9zM18 10.414l-6-6-6 6V20h3v-6a1 1 0 011-1h4a1 1 0 011 1v6h3v-9.586z"
                            />
                        </svg>
                        <svg v-if="index == 1"
                            :class="item.selected ? 'text-indigo-600' : 'text-gray-500'"
                            class="h-6 w-6"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M11.617 1.076a1 1 0 011.09.217l5.657 5.657a9 9 0 11-13.113.41A1 1 0 017 8.022v2.292a2 2 0 104 0V2a1 1 0 01.617-.924zM13 4.414v5.9A4 4 0 015.212 11.6 7 7 0 1016.95 8.364L13 4.414z"
                            />
                        </svg>
                        <svg v-if="index == 2"
                            :class="item.selected ? 'text-indigo-600' : 'text-gray-500'"
                            class="h-6 w-6"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12 7a1 1 0 011-1h8a1 1 0 011 1v8a1 1 0 11-2 0V8h-7a1 1 0 01-1-1z"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M20.707 7.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0L9 12.414l-5.293 5.293a1 1 0 01-1.414-1.414l6-6a1 1 0 011.414 0L13 13.586l6.293-6.293a1 1 0 011.414 0z"
                            />
                        </svg>
                        <svg v-if="index == 3"
                            :class="item.selected ? 'text-indigo-600' : 'text-gray-500'"
                            class="h-6 w-6"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4 5a3 3 0 013-3h10a3 3 0 013 3v16a1 1 0 01-1.447.894L12 18.618l-6.553 3.276A1 1 0 014 21V5zm3-1a1 1 0 00-1 1v14.382l5.553-2.776a1 1 0 01.894 0L18 19.382V5a1 1 0 00-1-1H7z"
                            />
                        </svg>
                        <span :class="item.selected ? 'text-indigo-600' : 'text-gray-500'" class="ml-2 text-sm font-medium">
                            {{ item.title }}
                        </span>
                    </div>
                    <svg :class="! item.selected ? 'block text-gray-500' : 'hidden text-indigo-600'" 
                        class="transition ease-in-out duration-700 w-6 h-6 block sm:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                    <svg :class="item.selected ? 'block text-indigo-600' : 'hidden text-gray-500'" 
                        class="transition ease-in-out duration-700 w-6 h-6 block sm:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                    </svg>
                </div> 
                <div :class="item.selected ? 'block' : 'hidden'" 
                    class="block sm:hidden">
                    <div v-html="item.content" class="font-normal text-xs text-gray-500 px-2 py-4"> </div>                    
                </div>                           
            </div>
        </div>
        <div class="hidden sm:block text-gray-500 text-sm h-40">
            <div v-html="selectedContent" class="px-2 py-4 transition-all ease-in-out"> </div>                    
        </div>    
        <div class="bg-gray-100 leading-relaxed mt-20 p-4 rounded text-gray-700 text-sm">
            <h1 class="mb-2 font-medium"> *Explain why the result of ('b' + 'a' + + 'a' + 'a').toLowerCase() is banana. </h1>
            <p class="text-gray-500"> Because you cannot add <span class="text-red-500"> ('b' + 'a' + +) </span>. </p>
            <p class="text-gray-500"> The <span class="text-red-500"> + + </span> will result to <span class="text-red-500">"NaN"</span>  meaning <span class="text-red-500"> "Not a Number". </span> </p>
            <p class="text-gray-500"> If you run the  <span class="text-red-500"> console.log('b' + 'a' + + 'a' + 'a') </span>, it will result to <span class="text-red-500"> "baNaNa" </span>. </p>
            <p class="text-gray-500"> And <span class="text-red-500"> "baNaNa" </span> to .LowerCase() will result to <span class="text-red-500"> banana </span> </p>
        </div>
    </div>    
  </div> 
</template>

<script>

export default {
    name: 'ExerciseA',
    data() {
        return {
            selectedContent: null,
            items: [
                {
                    "selected" : true,
                    "title": "Section 1",
                    "content": "<p>Maecenas nec semper ante, pellentesque posuere lorem. Nullam ipsum massa, consequat eget urna ut, pulvinar dignissim lorem. Nulla facilisi. Nam mattis eleifend metus. Fusce at commodo lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus pellentesque elit sem, vel blandit posuere.</p>"
                },
                {   
                    "selected" : false,
                    "title": "Section 2",
                    "content": "<p>Mauris a orci sodales, scelerisque velit vitae, gravida nisl. Ut non laoreet eros, vel laoreet nisi. Praesent sed dolor dui. Proin non fringilla quam. Aliquam erat volutpat. Vestibulum vel arcu semper, lobortis turpis ac, ultricies nisi. Praesent id.</p>"
                },
                {
                    "selected" : false,
                    "title": "Section 3",
                    "content": "<p>Sed elementum sapien ut sapien imperdiet, eu venenatis enim rhoncus. Praesent euismod tincidunt rhoncus. Duis cras amet:</p><ul><li>List item one</li><li>List item two</li><li>List item three</li></ul>"
                },
                {
                    "selected" : false,
                    "title": "Section 4",
                    "content": "<p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>"
                }
            ]
        }
    },
    methods: {
        select(i) {
            if (window.innerWidth < 640 && this.items[i].selected ) {
                this.reset();
                return;
            }
            this.reset();
            this.items[i].selected = true;    
            this.selectedContent = this.items[i].content;   
        },
        reset() {
            this.selectedContent = null;
            this.items.map(item => {
                item.selected = false;
                return item;
            });
        }
    },
    mounted() {
        this.selectedContent = this.items[0].content; 
    }
  
}
</script>

<style>

</style>
