<template> 
    <div class="antialiased">
        <header class="bg-no-repeat bg-cover bg-center mb-12"> 
            <div class="text-center text-white bg-gray-opacity-70 py-60 space-y-1.5">
                <h1 class="font-bold text-5xl md:text-7xl"> Hello Developer! </h1>
                <h3 class="text-2xl md:text-3xl"> Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            </div>      
        </header>
        <div class="container mx-auto px-6 md:px-20">
            <div class="flex flex-wrap -mx-2">
                <div v-for="range in 3" :key="range" class="w-full lg:w-1/3 mb-4 px-2">
                    <div class="card border border-gray-200 p-4 rounded shadow">
                        <img src="http://via.placeholder.com/400x300" class="w-full">
                        <div class="p-4 text-center">
                            <p v-if="range != 2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptatem odit. Voluptate magnam autem modi. Illo officia tenetur necessitatibus reprehenderit blanditiis pariatur eaque, consectetur, asperiores saepe corporis consequuntur amet similique?</p>
                            <p v-else>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptatem odit. Voluptate magnam autem modi.  eaque, consectetur, asperiores saepe corporis consequuntur amet similique?</p>
                        </div>
                        <div class="btn-read-more p-4 text-center">
                            <button class="border-4 border-gray-600 border-solid font-bold px-5 py-1 rounded-3xl"> READ MORE</button>
                        </div>
                    </div>            
                </div> 
            </div>
        </div>
    </div> 
</template>

<script>

export default {
  name: 'ExerciseA'
}
</script>

<style>

</style>
